<!--<div class="background-image-container">-->
<!--  <picture class="background-image">-->
<!--    <source type="image/webp" srcset="assets/edutask/images/banner.jpg 2000w, assets/edutask/images/banner.jpg 1200w, assets/edutask/images/banner.jpg 768w">-->
<!--    <source type="image/jpg" srcset="assets/edutask/images/banner.jpg 2000w, assets/edutask/images/banner.jpg 1200w, assets/edutask/images/banner.jpg 768w">-->
<!--    <img height="350" alt="" [src]="'assets/edutask/images/banner.jpg'"/>&lt;!&ndash; without the []="''" Firefox downloads both the fallback and the resolved image &ndash;&gt;-->
<!--  </picture>-->
<!--</div>-->
<div class="jumbotron jumbotron-fluid"
     [ngStyle]="{'background': ' url(' + '/assets/edutask/images/banner.jpg' + ') no-repeat 0 0'}">
  <div class="container">
    <div class="home-page-news-edu">
      <p class="home-page-news-content-edu">
        The Kosovo Digital Educational Archive contains documents published by governments, and other
        relevant bodies, authorities and education institutions in Kosovo in different historical periods.
        The archive collects documents in print and in electronic format in order to create, preserve and
        make accessible important documents in the field of education for the public and research community.
        Our aim is to create a searchable digital archive by periods, year, institutions, communities of practice
        and authors free of charge and accessible to all.
      </p>
      <p>
        <a class="home-page-news-link-edu" routerLink="/about-us">
          <span class="home-page-news-content-edu">
            More about us
          </span>
        </a>
      </p>
    </div>
  </div>
</div>
