<footer class="text-lg-start">
  <div *ngIf="showTopFooter" class="top-footer">
    <!-- Grid container -->
    <div class=" container p-4">
      <!--Grid row-->
      <div class="d-flex flex-row justify-content-center">

        <!--Grid column-->
        <div class="col-lg-12 col-md-12 mb-4 mb-lg-0">
          <p class="footer-text-edu">The first phase of this project is supported by the Municipality of Prishtina
            through a grant to establish
            the archive and initiate the collection covering the period of 1990's.
            Hosting and data storage is enabled by the Kosovo National Research and Education Network.</p>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
    <div class="container p-4">
      <!--Grid row-->
      <div class="d-flex flex-row justify-content-between mx-4">

        <!--Grid column-->
        <div class="">
          <div class="mb-2">
            <p class="footer-worth-mention-edu text-left">Implemented by:</p>
          </div>
          <div>
            <a href="https://edu-task.com/"><img width="125" src="assets/edutask/images/edutask-footer-logo.svg" alt=""></a>
          </div>
        </div>
        <div class="row">
          <div>
            <p class="footer-worth-mention-edu">Supported by:</p>
          </div>
          <div class="mx-4">
            <a href="https://kk.rks-gov.net/prishtine/"><img width="75"
                                                             src="assets/edutask/images/komuna_e_prishtines.png" alt=""></a>
          </div>
          <div class="d-flex align-items-end">
            <a href="https://kren-ks.eu/"><img width="85" src="assets/edutask/images/kren.png" alt=""></a>
          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container">
      <p class="m-0 footer-text-edu mb-4">
        <a class="footer-text-edu"
           href="http://www.dspace.org/">{{ 'footer.link.dspace' | translate}}</a>
        {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }} <a class="footer-text-edu" href="http://www.duraspace.org/">DuraSpace</a>
      </p>
      <ul class="footer-info list-unstyled small d-flex justify-content-center mb-0">
        <li class="footer-text-edu">
          <a class="footer-text-edu" href="javascript:void(0);"
             (click)="showCookieSettings()">{{ 'footer.link.cookies' | translate}}</a>
        </li>
        <li class="footer-text-edu" *ngIf="showPrivacyPolicy">
          <a class="footer-text-edu"
             routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>
        </li>
        <li class="footer-text-edu" *ngIf="showEndUserAgreement">
          <a class="footer-text-edu"
             routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>
        </li>
        <li class="footer-text-edu">
          <a class="footer-text-edu"
             routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Copyright -->
</footer>
