<div class="breadcrumb breadcrumb-edu">
  <div class="container">
    <div class="row">
      <div class="">
        <div class="about-us-breadcrumb about-us-link"><a routerLink="/home" class="about-us-link-a">{{'Home'}}</a>
        </div>
      </div>
      <div class="">
        <div class="about-us-breadcrumb about-us-link-active"><span class="ml-2 mr-1">&#8226;</span><span
          class="">{{'About Us'}}</span></div>
      </div>
    </div>
  </div>
</div>

<div class="container about-us-container-edu mt-5">
  <div>
    <h2>About Us</h2>
    <p>
      Edutask Institute is a non-profit entity engaging in quality research and innovative education
      solutions.
    </p>
    <p>
      Eduarkiva as a documentary heritage initiative links disciplines such as education, culture,
      humanities, and information sciences to collect, preserve and make accessible important
      documents for communities.
    </p>
    <p>
      We believe that educational documentary heritage can contribute to more conscious
      understanding and promotion of history as well as to peace building and constructive
      remembrance. The space created within Eduarkiva offers tools and opportunities for the
      development of scientific debate, creativity, social cohesion and cultural dialogue.
    </p>
    <p>
      The first phase of this project is supported by the Municipality of Prishtina through a grant to
      establish the archive and initiate the collection covering the period of 1990’s.
    </p>
    <p>Hosting and data storage is enabled by the Kosovo National Research and Education Network.</p>
    <p class="about-us-edu-red">
      This site is powered by Dspace.
    </p>
  </div>

  <div class="mt-4">
    <p class="about-kdea-edu">
      About Kosovo Digital Educational Archive (KDEA) Collection </p>
    <p>
      The repository includes documents published by the Kosovo Government, Kosovo Parliament,
      Ministry of Education and other institutions and departments working in the area of
      Education.
    </p>
    <p>
      All documents are added according to the Law on Access to Public Documents, which allows
      us to put information of the public domain and to convert them to PDF formats to enable
      permanent preservation as long as we attribute the resource.
    </p>
    <p>
      In trying to digitise physical archive collections in municipal and national archive, we are
      committed to cooperate with institutions to support the digitisation process according to the
      permission rights, to share the educational related documents. Edutask Institute establishes
      cooperation agreements with institutions to reproduce and share different collections.
    </p>
    <p>
      The repository includes:
    </p>
    <ul class="about-us-list-edu">
      <li>
        - Laws
      </li>
      <li>
        - Administrative instructions
      </li>
      <li>
        - Decisions
      </li>
      <li>
        - Policy Documents
      </li>
      <li>
        - Annual reports
      </li>
      <li>
        - Research reports
      </li>
      <li>
        - Speeches
      </li>
      <li>
        - Statistics
      </li>
      <li>
        - Datasets
      </li>
      <li>
        - Images
      </li>
      <li>
        - Videos
      </li>
    </ul>
    <p>The first phase of this project is supported by the Municipality of Prishtina through a grant to
      establish the archive and initiate the collection covering the period of 1990’s.</p>
    <p>Hosting and data storage is enabled by the Kosovo National Research and Education Network.</p>
    <p>This site is powered by Dspace.</p>

    <p class="about-us-edu-bold">How can you cooperate with us?</p>
    <p>If you would like to find out more about Eduarkiva, please contact us at: <a class="about-us-edu-link"
                                                                                    href="mailto: research@edu-
      task.com"><span class="about-us-edu-link">research@edu-
      task.com</span></a></p>
    <p>There are several possibilities for you to contribute to the project.</p>
    <p>If you are an author/researcher in the field of education, please register and upload your
      contributions. In the author section your orchid account can be automatically linked to the
      archive.</p>
    <p>If you are a collector, or have important documents relevant for documentary education
      heritage, please register and upload the document as contributors. Your document will be
      preserved in the digital archive, whereas the original document should be sent to the
      Municipal or National Archive.</p>
    <p>If you are an institution (Archive, Research Institute, NGO) please register as a community
      and upload your documents and publications. If you would like to cooperate with us to
      digitise any collection in the field of education, please contact us at: <a
        href="mailto: research@edu-task.com"><span class="about-us-edu-link">research@edu-task.com</span></a>
    </p>
  </div>
</div>
