<h2>{{ 'info.privacy.head' | translate }}</h2>
<p>At Eduarkiva, we take the privacy of our users&#39; personal data very seriously. This privacy statement
  explains how we collect, use, and protect the personal data of our users.</p>
<h5>Purpose of the Repository</h5>
<p>Eduarkiva is a digital repository established by Edutask Institute that aims to collect, store and share
  Educational research data, resources, and scholarly outputs. Our repository is meant to facilitate
  collaboration among researchers and provide access to high-quality resources for educational
  purposes and research.</p>
<h5>Types of Data Collected</h5>
<p>We may collect personal data such as names, email addresses, and other identifying information
  from our users. We may also collect non-personal data such as IP addresses and user activity data
  for the purpose of improving our services.</p>
<h5>Data Collection Methods</h5>
<p>We collect personal data directly from our users through registration forms, surveys, and other
  interactions. We may also collect non-personal data automatically through the use of cookies, web
  beacons, and other tracking technologies.</p>
<h5>Use of Data</h5>
<p>We use personal data to provide and improve our services, such as to enable collaboration among
  researchers and to provide access to educational resources. We may also use personal data to
  communicate with our users and to inform them of new services or updates to our repository. We
  may share personal data with third-party service providers that help us operate our repository, but
  we will never sell personal data to third parties.</p>
<h5>Security Measures</h5>
<p>We take appropriate technical and organizational measures to protect personal data against
  unauthorized access, use, or disclosure. We use secure servers, encryption, and access controls
  managed by Kosovo Research and Education Network to ensure the confidentiality and integrity of
  personal data.</p>
<h5>User Rights</h5>
<p>Users have the right to access, correct, or delete their personal data. Users can also object to the
  processing of their personal data or request a restriction of processing. Users can exercise these
  rights by contacting research@edu-task.com. We will respond to these requests within a reasonable
  timeframe.</p>
<h5>Contact Information</h5>
<p>If you have any questions or concerns about our privacy practices or this privacy statement, please
  contact us at research@edu-task.com.</p>
<p>We reserve the right to update or modify this privacy statement at any time without prior notice.
  The most recent version of the privacy statement is available on our website.</p>
